<!DOCTYPE html>
<html>
  <head>
    <title>Copf2</title>
    <style type="text/css">
      body {
      padding-top: 60px;  <!--space to top>
      }
    </style>
  </head>
  <body>
    <div>
      <a href="/index">collections of projects files2</a>
      <form action="/samples/",method="link">
        <input name="sample_id" placeholder="search sample">
      </form>

      <form action="/flowlanes/",method="link">
        <input name="name" placeholder="search flowlane">
      </form>
    </div>
    {% block body_block %}
    {% endblock %}
  </body>

  <footer class="row">
    <hr>
    <a href="https://github.com/lillamy2012/copf2/blob/master/README.md"> Copf2</a>: the Berger group's official app for NGS project organisation </p>
    elin.axelsson@gmi.oeaw.ac.at
  </footer>
</html>
