

{% extends 'ngs/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block body_block %}
{% load django_tables2 %}



<div class="container-fluid">
	<form method="get">
		<div class="row">
    	<div class="form-group col-md-2">
      	{{ filter.form.organism.label_tag }}
	    	{% render_field filter.form.organism class="form-control" %}
	  	</div>
			<div class="form-group col-md-2">
				{{ filter.form.exptype.label_tag }}
				{% render_field filter.form.exptype class="form-control" %}
			</div>
			<div class="form-group col-md-2">
				{{ filter.form.genotype.label_tag }}
				{% render_field filter.form.genotype class="form-control" %}
			</div>

  	</div>
		<div class="row">
			<div class="form-group col-md-2">
				{{ filter.form.scientist.label_tag}}
				{% for choice in filter.form.scientist %}
          <div class="form-check-input">
        		{{ choice.tag }} {{ choice.choice_label }}
        	</div>
        {% endfor %}
			</div>
			<div class="form-group col-md-2">
				{{ filter.form.status.label_tag }}
				{% for choice in filter.form.status %}
          <div class="form-check-input">
        		{{ choice.tag }} {{ choice.choice_label }}
        	</div>
        {% endfor %}
			</div>
			<div class="form-group col-md-2">
				{{ filter.form.tissue_type.label_tag }}
				{% for choice in filter.form.tissue_type %}
					<div class="form-check-input">
						{{ choice.tag }} {{ choice.choice_label }}
					</div>
				{% endfor %}
			</div>



		</div>
		<div class="row">
			<div class="form-group col-md-1">
      	<button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-filter"></span> Apply Filter</button>
    	</div>
			</form>
			<div class="form-group col-md-4">
				<a class="btn btn-primary" href={% querystring '_export'='csv' %} role="button">
				<span class="glyphicon glyphicon-download"></span> Download Table</a>
			</div>
		</div>
</div>
<div class="container-fluid">
	{% render_table table %}

</div>

{% endblock %}
